.data-sensor-page {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 10px 40px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.toolbar input,
.toolbar select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.table-wrapper {
  overflow-x: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #000;
  color: white;
}

th, td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-weight: 500;
}

.filter-icon {
  margin-left: 6px;
  cursor: pointer;
  color: #777;
  transition: 0.2s;
}
.filter-icon:hover {
  color: #000;
}

.filter-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.filter-dropdown select {
  width: 150px;
  padding: 4px;
}

